*{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}
header{
    background: rgba(255, 144, 14, 0.1);
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 30px 20px 100px 20px;
}
.nav-title{
    color: #131313;
    font-size: 45px;
    font-weight: 700;
}
.nav-bar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 30px;
    
}
.menu-items, a{
    list-style: none;
    text-decoration: none;
    color: #424242;
    font-size: 18px;
    font-weight: 500;
}

/* Banner Style */
.banner-info{
    width: 862px;
    margin: 0 auto;
}
.banner-title{
    font-size: 64px;
    font-weight: 700;
    color: #131313;
    text-align: center;
    padding-bottom: 30px;
}
.banner-text{
    color: #727272;
    text-align: center;
    padding-bottom: 30px;
}
.banner-btn{
    position: relative;
    left: 45%;
    padding-bottom: 50px;
}
.btn-primary{
    height: 64px;
    width: 180px;
    background-color: #FF900E;
    border: none;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 600;
    color: white;
}
.banner-image{
    width: 1140px;
    height: 600px;
    margin: 45px 185px;
}

@media screen and (max-width: 576px) {
    nav {
        flex-direction: column;
    }
    .nav-bar{
        flex-direction: column;
        padding-top: 20px;
    }
    .header-banner{
        max-width: 576px;
    }
    .banner-info{
        width: 500px;
        margin: 0 auto;
    }
    .banner-title{
        font-size: 30px;
    }
    .banner-text{
        font-size: 16px;
    }
    .banner-btn{
        position: relative;
        left: 35%;
        padding-bottom: 50px;
    }
    .banner-image{
        width: 500px;
        height: 400px;
        margin: 45px 25px;
    }
}